@import "colors";
@import "../../../../../less/components/menu/room/room-item.less";

.room-item--favourite {
  .m-room-item();
  position: relative;

  @start-icon-height: 2rem;
  &:before {
    content:     '\e802';
    display:     block;
    position:    absolute;
    top: 0.9rem;
    left: 1.8rem;
    height:      @start-icon-height;
    width:       @start-icon-height;
    font-family: fontello;
    color:       @menu-favourite-action-color;
    z-index:     0;
    transition: left 0.3s ease-out;
    opacity: .50;
  }

  &:hover:before {
    left: 1.6rem;
  }

  &.temp {
    opacity:    0;
    max-height: 0;
    transition: max-height .2s ease-in, opacity .1s .1s;
  }

  &.temp-active {
    opacity:    .2;
    max-height: @menu-item-height;
  }

  &.focus .room-item__container {
    .room-item-active();
  }
}

.room-item--favourite-one2one {
  .room-item--favourite;
  &.active {
    max-height: @menu-item-height * 2;
  }
}
